<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reactive:SpringBoot</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/favicon.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">Reactive Spring Boot</h5>
            <h6 class="card-subtitle mb-2 text-muted">Zagoret Sergiu</h6>
            <hr class="my-4">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Add comment</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="image : ${images}">
                    <td th:text="${image.id}"/>
                    <td th:text="${image.name}"/>
                    <td>
                        <a th:href="@{'images/' + ${image.name} + '/raw'}">
                            <img th:src="@{'images/'+${image.name}+'/raw'}" class="thumbnail" th:width="64"
                                 th:height="64"/>
                        </a>
                    </td>
                    <td>
                        <ol>
                            <li th:each="comment : ${image.comments}"
                                th:text="${comment.comment}"></li>
                        </ol>
                    </td>
                    <td>
                        <form th:method="post" th:action="@{'/comments'}">
                            <div class="form-inline">
                                <textarea class="form-control mr-sm-2" id="comment" name="comment" rows="2"></textarea>
                                <button type="submit" class="btn btn-outline-secondary" title="Send comment">
                                    <i class="fab fa-telegram-plane  ml-2 mr-2"></i>
                                </button>
                            </div>
                            <!--<input name="comment" value="" type="text"/>-->
                            <input name="imageId" th:value="${image.id}" type="hidden"/>
                        </form>
                    </td>
                    <td class="align-middle">
                        <form th:method="delete" th:action="@{'/images/' + ${image.name}}">
                            <button type="submit" class="btn btn-danger" title="Delete image">
                                <i class="far fa-trash-alt ml-1 mr-1"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

            <form method="post" enctype="multipart/form-data"
                  action="/images">
                <p><input type="file" name="file"/></p>
                <p><input type="submit" class="btn btn-info" value="Upload"/></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>